<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Bookmarks Forums - Inicio</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/8f3c0a721b.js"
      crossorigin="anonymous"
    ></script>

    <!-- Chart.js script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- ----------------------------------------------------------------- -->
  </head>
  <body>
    <div class="main-body-container">
      <header class="bg-branding-white py-1 page-hero">
        <div class="container px-4 px-lg-5 my-5">
          <div class="text-start text-dark">
            <h1 class="display-4 fw-bolder header-welcome-text landing-hero">
              <p *ngIf="heroNameVisible; else notLogged"
              id="landing-greeting">
                Muy buenas, {{ loggedUsername }}
              </p>
              <ng-template #notLogged>
                <p id="default-greeting">Presentamos Bookmarks Forums</p>
              </ng-template>
            </h1>

            <p class="lead fw-normal text-white-50 mb-0">
              El foro oficial de Bookmarks<br />
            </p>

            <p *ngIf="isAdmin" class="isAdminText">
              Has iniciado sesión como administrador
            </p>
          </div>
        </div>
      </header>

      <!-- Page content-->
      <div class="container">
        <div class="row justify-content-between">
          <!-- Blog entries-->
          <div class="col-lg-7">
            <!-- Featured post header -->
            <h3 class="fw-semibold mb-4">
              <p
                class="page-title"
                *ngIf="loggedIn; else notLoggedRecommendedPost"
              >
                De los usuarios a los que sigues
              </p>
              <ng-template #notLoggedRecommendedPost>
                <p class="page-title">De los usuarios más populares</p>
              </ng-template>
            </h3>

            <!-- Featured post list based on followed users -->
            <div
              class="post-card card mb-4 featured-post"
              *ngFor="let post of recommendedPostsPopularUsers"
            >
              <a
                [routerLink]="['/post', post.identifier]"
                class="card-link"
                [ngClass]="{
                  'card-body-with-image': post.hasImage,
                  'card-body': !post.hasImage
                }"
                [ngStyle]="
                  post.hasImage
                    ? {
                        'background-image':
                          'url(' + postImageURL(post.identifier) + ')'
                      }
                    : {}
                "
              >
                <div [ngClass]="post.hasImage ? 'card-body-image-adapted' : ''">
                  <div
                    class="card-top-info d-flex justify-content-between align-items-center"
                  >
                    <a
                      [routerLink]="['/profile', post.author.username]"
                      class="card-link"
                    >
                      <div class="d-flex align-items-center card-user-info">
                        <img
                          [src]="profilePicture(post.author.username)"
                          alt="Profile Picture"
                          class="card-profile-picture me-2"
                        />
                        <p
                          class="card-content card-text mb-0 card-user-username"
                        >
                          {{ post.author.username }}
                        </p>
                      </div>
                    </a>
                    <a
                      class="card-link"
                      [routerLink]="['/community', post.community.identifier]"
                    >
                      <div class="card-community-name-container">
                        <p
                          class="card-content card-text card-community-name-text mb-0"
                        >
                          {{ post.community.name }}
                        </p>
                      </div>
                    </a>
                  </div>

                  <div
                    class="card-content small text-muted mb-1 card-post-date">
                    {{
                      post.fullCreationDate | date : "dd-MM-yyyy 'a las' HH:mm"
                    }}
                  </div>
                  <h2 class="card-content card-title">{{ post.title }}</h2>
                  <div class="parent-container">
                    <p
                      class="card-content card-text single-line-card-text card-post-content"
                      [innerHTML]="post.content"
                    ></p>
                  </div>
                  <div
                    class="card-bottom-action-bar d-flex justify-content-end"
                  >
                    <i class="fas fa-arrow-right"></i>
                  </div>
                </div>
              </a>
            </div>

            <!-- LOAD MORE BUTTON -->
            <nav aria-label="Pagination">
              <ul
                class="pagination justify-content-center my-4 load-more-container"
              >
                <!-- TODO: Load more button -->

                <button
                  class="btn btn-secondary load-more-btn"
                  id="load-more-btn"
                  (click)="loadMorePosts(0)"
                  *ngIf="!noMorePostsUsers; else noMorePostsUsersMessage"
                >
                  <label
                    id="load-more-label"
                    *ngIf="
                      !loadingMorePostsUsers;
                      else loadingMorePostsUsersSpinner
                    "
                    >Cargar más</label
                  >

                  <ng-template #loadingMorePostsUsersSpinner>
                    <div
                      id="load-more-spinner"
                      class="loader-in-btn"
                      role="status"
                    ></div>
                  </ng-template>
                </button>
                <ng-template #noMorePostsUsersMessage>
                  <p class="text-muted no-more-books-message">
                    No hay más posts para mostrar
                  </p>
                </ng-template>
              </ul>
            </nav>

            <hr class="my-0" />
            <h3 class="fw-semibold mb-4 mt-4">
              <p
                *ngIf="loggedIn; else notLoggedRecommendedPostByCommunities"
                class="page-title"
              >
                Lo último de tus comunidades
              </p>
              <ng-template #notLoggedRecommendedPostByCommunities>
                <p class="page-title">
                  Lo último de las comunidades más populares
                </p>
              </ng-template>
            </h3>

            <!-- Featured post list based on communities -->
            <div
              class="post-card card mb-4 featured-post"
              *ngFor="let post of recommendedPostsPopularCommunities"
            >
              <a
                [routerLink]="['/post', post.identifier]"
                class="card-link"
                [ngClass]="{
                  'card-body-with-image': post.hasImage,
                  'card-body': !post.hasImage
                }"
                [ngStyle]="
                  post.hasImage
                    ? {
                        'background-image':
                          'url(' + postImageURL(post.identifier) + ')'
                      }
                    : {}
                "
              >
                <div [ngClass]="post.hasImage ? 'card-body-image-adapted' : ''">
                  <div
                    class="card-top-info d-flex justify-content-between align-items-center"
                  >
                    <a
                      [routerLink]="['/profile', post.author.username]"
                      class="card-link"
                    >
                      <div class="d-flex align-items-center card-user-info">
                        <img
                          [src]="profilePicture(post.author.username)"
                          alt="Profile Picture"
                          class="card-profile-picture me-2"
                        />
                        <p
                          class="card-content card-text mb-0 card-user-username"
                        >
                          {{ post.author.username }}
                        </p>
                      </div>
                    </a>
                    <a
                      class="card-link"
                      [routerLink]="['/community', post.community.identifier]"
                    >
                      <div class="card-community-name-container">
                        <p
                          class="card-content card-text card-community-name-text mb-0"
                        >
                          {{ post.community.name }}
                        </p>
                      </div>
                    </a>
                  </div>

                  <div class="card-content small text-muted mb-1 card-post-date">
                    {{
                      post.fullCreationDate | date : "dd-MM-yyyy 'a las' HH:mm"
                    }}
                  </div>
                  <h2 class="card-content card-title">{{ post.title }}</h2>
                  <div class="parent-container">
                    <p
                      class="card-content card-text single-line-card-text card-post-content"
                      [innerHTML]="post.content"
                    ></p>
                  </div>
                  <div
                    class="card-bottom-action-bar d-flex justify-content-end"
                  >
                    <i class="fas fa-arrow-right"></i>
                  </div>
                </div>
              </a>
            </div>

            <!-- LOAD MORE BBUTTON -->
            <nav aria-label="Pagination">
              <ul
                class="pagination justify-content-center my-4 load-more-container"
              >
                <button
                  class="btn btn-secondary load-more-btn"
                  id="load-more-btn"
                  (click)="loadMorePosts(1)"
                  *ngIf="
                    !noMorePostsCommunities;
                    else noMorePostsCommunitiesMessage
                  "
                >
                  <label
                    id="load-more-label"
                    *ngIf="
                      !loadingMorePostsCommunities;
                      else loadingMorePostsCommunitiesSpinner
                    "
                    >Cargar más</label
                  >

                  <ng-template #loadingMorePostsCommunitiesSpinner>
                    <div
                      id="load-more-spinner"
                      class="loader-in-btn"
                      role="status"
                    ></div>
                  </ng-template>
                </button>
                <ng-template #noMorePostsCommunitiesMessage>
                  <p class="text-muted no-more-books-message">
                    No hay más posts para mostrar
                  </p>
                </ng-template>
              </ul>
            </nav>
          </div>

          <!-- Side widgets-->
          <div class="col-lg-4">
            <h3
              *ngIf="!loggedIn; else loggedProfilePanelMessage"
              class="fw-semibold mb-4 page-title"
            >
              ¡Venga, anímate y únete a nosotros!
            </h3>
            <ng-template #loggedProfilePanelMessage>
              <h3 class="fw-semibold mb-4 page-title">Tu perfil, y más</h3>
            </ng-template>
            <!-- Users widget-->
            <div class="card dark-card mb-4">
              <ng-container *ngIf="!loggedIn; else loggedUserActionsPanel">
                <div class="post-container-card-top">
                  <h5 class="card-title mb-0">Acceso usuarios</h5>
                </div>
                <div class="card-body">
                  <p>
                    ¡Publica, únete a comunidades interesantes y sigue a otros
                    usuarios! Inicia sesión o crea una cuenta para empezar.
                  </p>
                  <div class="input-group">
                    <a
                      id="login-btn"
                      [routerLink]="['/login']">
                      <button class="btn primary-btn" type="button">
                        <i class="fas fa-sign-in-alt me-1"></i>
                        Iniciar sesión
                      </button>
                    </a>
                    <a [routerLink]="['/signup']">
                      <button class="btn primary-btn" type="button">
                        <i class="fas fa-user-plus me-1"></i>
                        Crear cuenta
                      </button>
                    </a>
                  </div>
                </div>
              </ng-container>

              <!-- User profile widget -->
              <ng-template #loggedUserActionsPanel>
                <div class="post-container-card-top">
                  <h5 class="card-title mb-0">Acceso rápido a tu perfil</h5>
                </div>
                <div class="card-body profile-card" *ngIf="userLoaded">
                  <img
                    class="profile-picture bm-rounded-circle"
                    [src]="profilePicture(loggedUsername)"
                    alt="Foto de perfil"
                  />
                  <p class="mt-2">{{ loggedUsername }}</p>
                  <div class="input-group">
                    <a [routerLink]="['profile', loggedUsername]">
                      <button class="btn primary-btn" type="button">
                        Ver perfil
                      </button>
                    </a>
                  </div>
                </div>
              </ng-template>
            </div>

            <!-- Side widget-->
            <div class="card dark-card mb-4">
              <div class="post-container-card-top">
                <h5 class="card-title mb-0">Lo están petando</h5>
              </div>
              <div class="card-body">
                <div id="mostReadGenresChartContainer">
                  <canvas id="mostPopularUsersChart">{{ chart }}</canvas>
                  <div
                    id="mostReadGenresSpinner"
                    class="loader-green"
                    role="status"
                    *ngIf="loadingChart"
                  ></div>
                </div>
              </div>
            </div>

            <!-- Side widget-->
            <div class="card dark-card mb-4">
              <div class="post-container-card-top">
                <h5 class="card-title mb-0">Comunidades más populares</h5>
              </div>
              <div class="card-body">
                <div class="row">
                  <ul class="list-styled mb-0 stats-list">
                    <li class="stats-list-item">
                      <h6 class="list-header">Nombre</h6>
                      <h6 class="list-header">Miembros</h6>
                    </li>
                    <hr class="list-header-divider" />
                    <li *ngFor="let community of communitiesMembersCount">
                      <a
                        [routerLink]="['/community', community[0]]"
                        class="branding-link"
                      >
                        <div class="stats-list-item">
                          <h6 class="fw-normal branding-link-text">
                            {{ community[1] }}
                          </h6>
                          <h6 class="fw-bold stats-number branding-link-text">
                            {{ community[2] }}
                          </h6>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Side widget (create community button) -->
            <div
              class="card dark-card mb-4"
              *ngIf="loggedIn; else notLoggedInCreateCommunity"
            >
              <div class="post-container-card-top">
                <h5 class="card-title mb-0">Crea tu propia comunidad</h5>
              </div>
              <div class="card-body">
                <p>
                  ¿No encuentras una comunidad que te guste? ¡Crea la tuya
                  propia!
                </p>
                <div class="input-group">
                  <a [routerLink]="['/new/community']">
                    <button class="btn primary-btn" type="button">
                      <i class="fas fa-plus me-1"></i>
                      Crear comunidad
                    </button>
                  </a>
                </div>
              </div>
            </div>
            <ng-template #notLoggedInCreateCommunity>
              <div class="card dark-card mb-4">
                <div class="post-container-card-top">
                  <h5 class="card-title mb-0">Crea tu propia comunidad</h5>
                </div>
                <div class="card-body">
                  <p class="mb-0">
                    ¿No encuentras una comunidad que te guste? ¡Inicia sesión
                    más arriba y crea la tuya!
                  </p>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
