<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Bookmarks Forums - Post</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/8f3c0a721b.js"
      crossorigin="anonymous"
    ></script>

    <!-- Chart.js script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- ----------------------------------------------------------------- -->
  </head>
  <body>
    <div class="main-body-container">
      <!-- Page hero ---------------------------------------------------- -->
      <header
        class="bg-branding-white py-1 page-hero"
        [ngClass]="
          hasBanner(post?.community?.identifier) ? 'header-image-adapted' : ''
        "
        [ngStyle]="{
          'background-image':
            'url(' + communityBannerURL(post?.community?.identifier) + ')'
        }"
      >
        <div class="header-top-info">
          <a
            class="card-link"
            [routerLink]="['/community', post?.community?.identifier]"
          >
            <div
              class="card-community-name-container branding-hyperlink-container"
            >
              <p
                class="lead fw-normal text-white-50 mb-0 branding-hyperlink-text"
              >
                {{ post?.community?.name }}<br />
              </p>
            </div>
          </a>
        </div>
        <div class="container px-4 px-lg-5 my-5">
          <div class="text-start text-dark">
            <a
              [routerLink]="['/profile', post?.author?.username]"
              class="card-link"
            >
              <div class="post-author-container">
                <div class="post-author-profile-picture">
                  <img
                    class="profile-picture bm-rounded-circle"
                    [src]="profilePicture(post?.author?.username)"
                    alt="Foto de perfil del usuario publicante"
                  />
                </div>
                <h1
                  class="display-4 fw-bolder header-main-text landing-hero hero-hyperlink hero-username"
                >
                  <p>
                    {{ post?.author?.username }}
                  </p>
                </h1>
              </div>
            </a>
          </div>
        </div>
      </header>
      <!-- ----------------------------------------------------------------- -->

      <!-- Page content-->
      <div class="container">
        <div class="row justify-content-between">
          <!-- Post Column -->
          <div class="col-lg-7">
            <!-- Post card -->
            <div class="post-container-card card mb-6 featured-post">
              <div class="post-container-card-top">
                <div
                  class="post-top-info d-flex justify-content-between align-items-center"
                >
                  <div class="card-content small text-muted mb-1">
                    {{
                      post?.fullCreationDate | date : "dd-MM-yyyy 'a las' HH:mm"
                    }}
                  </div>
                </div>

                <h2 class="card-content card-title wrap-text">
                  {{ post?.title }}
                </h2>
              </div>
              <div class="post-container-card-body">
                <p
                  class="post-container-card-body-text post-content"
                  [innerHTML]="post?.content"
                ></p>
              </div>
              <!-- Post image -->
              <ng-container *ngIf="post?.hasImage">
                <div class="post-container-divider-container">
                  <hr class="post-container-divider" />
                </div>
              </ng-container>
              <div class="post-container-card-body-image-container">
                <img
                  *ngIf="post?.hasImage"
                  [src]="postImageURL(post?.identifier)"
                  alt="Post"
                  class="post-container-card-body-image"
                  (click)="openModal()"
                  (keydown)="handleKeyDown($event)"
                />
              </div>
              <!-- Post action buttons row-->
              <div
                class="post-container-card-action-buttons-container d-flex justify-content-end"
              >
                <!-- Alert container -->
                <div class="post-container-alert" *ngIf="!loggedIn">
                  <p>Inicia sesión para poder votar.</p>
                </div>
                <button
                  *ngIf="post?.author?.username === loggedUsername || isAdmin"
                  class="btn action-btn"
                  title="Eliminar post"
                  (click)="deletePost(post?.identifier)"
                >
                  <i class="fas fa-trash-alt"></i>
                </button>

                <button
                  *ngIf="post?.author?.username === loggedUsername || isAdmin"
                  class="btn action-btn"
                  title="Editar post"
                  (click)="editPost(post?.identifier)"
                >
                  <i class="fas fa-edit"></i>
                </button>
                <button
                  class="btn action-btn"
                  [ngClass]="{ 'active-icon-btn': upvoted }"
                  title="Me gusta"
                  (click)="upvotePost(post?.identifier)"
                  [disabled]="!loggedIn"
                >
                  <i class="far fa-thumbs-up" [ngClass]="{ fas: upvoted }"></i>
                </button>
                <div
                  class="post-votes-count-container"
                  title="Me gusta / No me gusta"
                >
                  <p class="card-content fw-semibold text-muted">
                    {{ upvotes }} / {{ downvotes }}
                  </p>
                </div>
                <button
                  class="btn action-btn"
                  [ngClass]="{ 'active-icon-btn': downvoted }"
                  title="No me gusta"
                  (click)="downvotePost(post?.identifier)"
                  [disabled]="!loggedIn"
                >
                  <i
                    class="far fa-thumbs-down flip-horizontal"
                    [ngClass]="{ fas: downvoted }"
                  ></i>
                </button>
              </div>
            </div>
          </div>

          <!-- Replies column -->
          <div class="col-lg-4">
            <!-- Replies widget -->
            <div class="card dark-card mb-4">
              <div class="post-container-card-top">
                <div
                  class="comments-title-container d-flex justify-content-between align-items-center"
                >
                  <h3 class="fw-semibold page-title">Comentarios</h3>
                  <div class="comments-count-container">
                    <h3 class="card-content fw-semibold text-muted">
                      {{ postReplies }}
                    </h3>
                  </div>
                </div>
                <div class="advanced-menu-toggle-container">
                  <button
                    class="btn hyperlink-btn"
                    (click)="toggleAdvancedMenu()"
                  >
                    Menú avanzado
                    <i
                      class="fas"
                      [ngClass]="{
                        'fa-chevron-down': !showAdvancedMenu,
                        'fa-chevron-up': showAdvancedMenu
                      }"
                    ></i>
                  </button>
                </div>
                <!-- Search bar and search criteria dropdown -->
                <div
                  *ngIf="showAdvancedMenu"
                  class="card-header-advanced-container"
                >
                  <hr class="post-container-divider" />
                  <div class="card-header-actions-container">
                    <div class="card-header-search-omnibox">
                      <div class="input-group">
                        <div class="search-bar-button-group">
                          <input
                            type="text"
                            class="form-control search-input"
                            placeholder="Buscar comentarios"
                            [(ngModel)]="searchTerm"
                          />
                          <button
                            title="Buscar comentarios"
                            class="btn search-btn"
                            (click)="searchReplies(post?.identifier)"
                          >
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                        <div class="input-group-append">
                          <p class="card-content text-muted mb-0 me-2">por</p>
                          <button
                            class="btn btn-secondary branding-dropdown-toggle fa-dropdown-toggle"
                            type="button"
                            id="searchCriteriaDropdown"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                          >
                            {{ searchCriteriaText | titlecase }}
                          </button>
                          <ul
                            class="dropdown-menu dropdown-menu-dark branding-dropdown-menu"
                            aria-labelledby="searchCriteriaDropdown"
                          >
                            <li>
                              <a
                                class="dropdown-item"
                                (click)="setSearchCriteria('default')"
                                >Título + contenido</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                (click)="setSearchCriteria('title')"
                                >Título</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                (click)="setSearchCriteria('content')"
                                >Contenido</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                (click)="setSearchCriteria('author')"
                                >Autor</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <hr class="post-container-divider" />
                    <div class="input-group-append">
                      <p class="card-content text-muted mb-0 me-2">
                        Ordenar por:
                      </p>
                      <button
                        class="btn btn-secondary branding-dropdown-toggle fa-dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        {{ selectedOrderText }}
                      </button>
                      <ul
                        class="dropdown-menu dropdown-menu-dark branding-dropdown-menu"
                        aria-labelledby="dropdownMenuButton"
                      >
                        <li>
                          <a
                            class="dropdown-item"
                            (click)="
                              changeRepliesOrder(
                                'creationDate',
                                'Fecha de creación'
                              )
                            "
                            >Fecha de creación</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            (click)="changeRepliesOrder('rating', 'Valoración')"
                            >Valoración</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="replies-list">
                  <div
                    *ngFor="let reply of this.replies"
                    class="reply-card card mb-3"
                    [ngClass]="
                      reply.author.username === loggedUsername
                        ? 'own-reply'
                        : ''
                    "
                  >
                    <div
                      class="card-top-info d-flex justify-content-between align-items-center"
                    >
                      <a
                        [routerLink]="['/profile', reply.author.username]"
                        class="card-link"
                      >
                        <div class="d-flex align-items-center card-user-info">
                          <img
                            [src]="profilePicture(reply.author.username)"
                            alt="Profile"
                            class="card-profile-picture me-2"
                          />
                          <p
                            class="card-content card-text mb-0 card-user-username"
                          >
                            {{ reply.author.username }}
                          </p>
                        </div>
                      </a>
                      <div class="card-content small text-muted mb-1">
                        {{
                          reply?.fullCreationDate
                            | date : "dd-MM-yyyy 'a las' HH:mm"
                        }}
                      </div>
                      <!-- Reply delete button -->
                      <button
                        *ngIf="
                          reply.author.username === loggedUsername || isAdmin
                        "
                        class="btn danger-btn delete-reply-btn"
                        (click)="deleteReply(reply.identifier)"
                        title="Eliminar comentario"
                      >
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </div>
                    <h4 class="card-content card-title wrap-text">
                      {{ reply?.title }}
                    </h4>
                    <p class="card-content card-text wrap-text">
                      {{ reply?.content }}
                    </p>
                    <!-- Reply action buttons row (like count and like button) -->
                    <div
                      class="reply-action-buttons-container d-flex justify-content-end"
                    >
                      <div class="reply-votes-count-container">
                        <p class="card-content fw-semibold text-muted">
                          {{ reply.likes }}
                        </p>
                      </div>
                      <button
                        class="btn action-btn"
                        [ngClass]="{
                          'active-icon-btn': hasLikedReply(reply.identifier)
                        }"
                        title="Me gusta"
                        (click)="upvoteReply(reply.identifier)"
                        [disabled]="!loggedIn"
                      >
                        <i
                          class="far fa-thumbs-up"
                          [ngClass]="{ fas: hasLikedReply(reply.identifier) }"
                        ></i>
                      </button>
                    </div>
                  </div>
                  <!-- Load more replies button -->
                  <div class="load-more-replies-container">
                    <button
                      class="btn primary-btn"
                      (click)="loadMoreReplies()"
                      *ngIf="!noMoreReplies; else noMoreRepliesText"
                    >
                      Cargar más
                    </button>
                    <ng-template #noMoreRepliesText>
                      <p
                        class="card-content card-text wrap-text center-text text-muted"
                      >
                        No hay más comentarios
                      </p>
                    </ng-template>
                  </div>
                </div>
                <!-- Reply text input and submit button-->
                <div class="post-container-divider-container no-margins">
                  <hr class="post-container-divider" />
                </div>
                <ng-container *ngIf="loggedIn; else notLoggedInRepliesText">
                  <div class="reply-input-container">
                    <input
                      type="text"
                      class="form-control mb-2 input-field reply-title-input"
                      placeholder="Título de tu respuesta"
                      maxlength="100"
                      [(ngModel)]="replyTitle"
                    />
                    <textarea
                      class="form-control mb-2 input-field reply-content-input"
                      placeholder="Escribe tu respuesta aquí"
                      maxlength="500"
                      style="height: 100px; resize: none"
                      [(ngModel)]="replyContent"
                    ></textarea>
                    <button
                      class="btn primary-btn"
                      (click)="submitReply(post?.identifier)"
                    >
                      Responder
                    </button>
                  </div>
                </ng-container>
                <ng-template #notLoggedInRepliesText>
                  <div class="reply-input-container">
                    <p class="card-content card-text wrap-text center-text">
                      Inicia sesión para poder responder a este post, votar los
                      comentarios y más...
                    </p>
                    <!-- Login button -->
                    <div class="d-grid gap-2">
                      <a class="btn primary-btn" [routerLink]="['/login']">
                        <i class="fas fa-sign-in-alt me-1"></i>
                        Iniciar sesión</a
                      >
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div id="imageModal" class="custom-modal">
      <div class="custom-modal-content">
        <div class="custom-modal-header">
          <span class="action-btn close" (click)="closeModal()">
            <i class="fas fa-times"></i>
          </span>
        </div>
        <div class="custom-modal-body">
          <img
            [src]="postImageURL(post?.identifier)"
            alt="Post Image"
            class="modal-image"
          />
        </div>
        <div class="custom-modal-footer">
          <a
            [href]="postImageURL(post?.identifier)"
            download
            class="btn primary-btn"
          >
            <i class="fas fa-download"></i> Descargar
          </a>
        </div>
      </div>
    </div>
    <!-- Alert modal with confirmation and cancel buttons -->
    <div
      id="alertModal"
      class="custom-modal"
      [ngClass]="{ show: showAlertModal }"
    >
      <div class="custom-modal-content no-scroll">
        <div class="custom-modal-header">
          <span class="action-btn close" (click)="closeAlertModal()">
            <i class="fas fa-times"></i>
          </span>
        </div>
        <div class="custom-modal-body">
          <p class="alert-modal-text">{{ alertModalText }}</p>
          <div class="alert-modal-buttons">
            <button
              class="btn primary-btn"
              title="Confirmar"
              (click)="confirmAction(); closeAlertModal()"
            >
              <i class="fas fa-check"></i> Confirmar
            </button>
            <button
              class="btn primary-btn"
              title="Cancelar"
              (click)="closeAlertModal()"
            >
              <i class="fas fa-times"></i> Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
