<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Bookmarks Forums - Post</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/8f3c0a721b.js"
      crossorigin="anonymous"
    ></script>

    <!-- Chart.js script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- ----------------------------------------------------------------- -->
  </head>
  <body>
    <div class="main-body-container">
      <!-- Page hero ---------------------------------------------------- -->
      <header
        class="bg-branding-white py-1 page-hero"
        [ngClass]="
          hasBanner(community?.identifier) ? 'header-image-adapted' : ''
        "
        [ngStyle]="{
          'background-image':
            'url(' + communityBannerURL(community?.identifier) + ')'
        }"
      >
        <div class="header-top-info">
          <a
            class="card-link"
            [routerLink]="['/community', community?.identifier]"
          >
            <div
              class="card-community-name-container branding-hyperlink-container"
            >
              <p
                class="lead fw-normal text-white-50 mb-0 branding-hyperlink-text"
              >
                {{ community?.name }}<br />
              </p>
            </div>
          </a>
        </div>
        <div class="container px-4 px-lg-5 my-5">
          <div class="text-start text-dark">
            <a [routerLink]="['/profile', loggedUsername]" class="card-link">
              <div class="post-author-container">
                <div class="post-author-profile-picture">
                  <img
                    class="profile-picture bm-rounded-circle"
                    [src]="profilePicture(loggedUsername)"
                    alt="Foto de perfil del usuario publicante"
                  />
                </div>
                <h1
                  class="display-4 fw-bolder header-main-text landing-hero hero-hyperlink hero-username"
                >
                  <p>
                    {{ loggedUsername }}
                  </p>
                </h1>
              </div>
            </a>
          </div>
        </div>
      </header>
      <!-- ----------------------------------------------------------------- -->

      <!-- Page content-->
      <div class="container">
        <div class="row justify-content-between">
          <!-- Post Column -->
          <div class="col-lg-7">
            <!-- Post card -->
            <div class="post-container-card card mb-6 featured-post">
              <div class="post-container-card-top">
                <!-- Post title (textfield with placeholder)-->
                <input
                  id="postTitle"
                  type="text"
                  class="post-title-input"
                  name="postTitle"
                  placeholder="Título del post"
                  [(ngModel)]="postTitle"
                  (input)="checkContentLength()"
                  (keydown)="preventExceedingContent($event)"
                />
              </div>
              <div class="post-container-card-body">
                <!-- Post content toolbar -->
                <div class="rich-text-editor-container sticky-item">
                  <div class="rich-text-editor-toolbar">
                    <button
                      class="btn toolbar-btn toggle"
                      title="Negrita"
                      (click)="applyStyle('bold', $event)"
                    >
                      <i class="fas fa-bold"></i>
                    </button>
                    <button
                      class="btn toolbar-btn toggle"
                      title="Cursiva"
                      (click)="applyStyle('italic', $event)"
                    >
                      <i class="fas fa-italic"></i>
                    </button>
                    <button
                      class="btn toolbar-btn toggle"
                      title="Subrayado"
                      (click)="applyStyle('underline', $event)"
                    >
                      <i class="fas fa-underline"></i>
                    </button>
                    <button
                      class="btn toolbar-btn toggle"
                      title="Tachado"
                      (click)="applyStyle('strikethrough', $event)"
                    >
                      <i class="fas fa-strikethrough"></i>
                    </button>
                    <button
                      class="btn toolbar-btn"
                      title="Añadir enlace"
                      (click)="addLink()"
                    >
                      <i class="fas fa-link"></i>
                    </button>
                    <button
                      class="btn toolbar-btn"
                      title="Añadir lista"
                      (click)="applyTextList('unorderedList', $event)"
                    >
                      <i class="fas fa-list-ul"></i>
                    </button>
                    <button
                      class="btn toolbar-btn"
                      title="Añadir lista numerada"
                      (click)="applyTextList('orderedList', $event)"
                    >
                      <i class="fas fa-list-ol"></i>
                    </button>
                  </div>
                </div>
                <!-- Post content (textarea with placeholder)-->
                <div
                  id="postContent"
                  name="postContent"
                  class="post-content-textarea post-content"
                  contenteditable="true"
                  [(ngModel)]="postContent"
                  (input)="adjustTextareaHeight($event); checkContentLength()"
                  (keydown)="preventExceedingContent($event)"
                  data-placeholder="Contenido del post"
                  placeholder="Contenido del post"
                ></div>
              </div>
              <!-- Post image -->
              <div class="image-actions-container">
                <div class="post-container-divider-container">
                  <hr class="post-container-divider" />
                </div>
                <div class="post-container-card-body-image-container">
                  <img
                    *ngIf="selectedImageURL"
                    [src]="selectedImageURL"
                    alt="Post"
                    class="post-container-card-body-image"
                    (click)="openModal()"
                    (keydown)="handleKeyDown($event)"
                  />
                </div>
                <div class="image-actions">
                  <button
                    *ngIf="this.selectedImageURL"
                    class="btn primary-btn"
                    title="Eliminar imagen"
                    (click)="deletePostImage()"
                  >
                    <i class="fas fa-trash-alt"></i> Eliminar imagen
                  </button>
                  <label class="btn primary-btn" title="Subir imagen">
                    <i class="fas fa-upload"></i> Subir imagen
                    <input
                      type="file"
                      accept="image/jpeg, image/png"
                      (change)="onFileSelected($event)"
                      hidden
                    />
                  </label>
                </div>
                <div class="image-actions-helper-text">
                  <p class="text-muted">
                    Máximo 5MB. Formatos: .jpg, .jpeg, .png
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Actions column -->
          <div class="col-lg-4">
            <!-- Post Actions widget -->
            <div class="card dark-card mb-4 sticky-item">
              <div class="post-container-card-top">
                <div
                  class="comments-title-container d-flex justify-content-between align-items-center"
                >
                  <h3 class="fw-semibold page-title">Acciones sobre tu post</h3>
                </div>
              </div>
              <div class="card-body">
                <div class="post-editor-action-buttons-container">
                  <p class="text-muted card-helper-text">
                    ¿Quieres publicar tu post?
                  </p>
                  <div class="post-editor-action-buttons">
                    <!-- Confirmar -->
                    <button
                      *ngIf="isMember || isAdmin"
                      class="btn primary-btn"
                      title="Confirmar"
                      (click)="confirmEditPost()"
                    >
                      <i class="fas fa-check"></i> Confirmar
                    </button>
                    <!-- Cancelar -->
                    <a
                      [routerLink]="['/community', community?.identifier]"
                      class="btn primary-btn"
                      title="Cancelar"
                    >
                      <i class="fas fa-times"></i> Cancelar
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Image Modal -->
    <div id="imageModal" class="custom-modal">
      <div class="custom-modal-content">
        <div class="custom-modal-header">
          <span class="action-btn close" (click)="closeModal()">
            <i class="fas fa-times"></i>
          </span>
        </div>
        <div class="custom-modal-body">
          <img [src]="selectedImageURL" alt="Post" class="modal-image" />
        </div>
      </div>
    </div>

    <!-- Alert modal with confirmation and cancel buttons -->
    <div
      id="alertModal"
      class="custom-modal"
      [ngClass]="{ show: showAlertModal }"
    >
      <div class="custom-modal-content no-scroll">
        <div class="custom-modal-header">
          <span class="action-btn close" (click)="closeAlertModal()">
            <i class="fas fa-times"></i>
          </span>
        </div>
        <div class="custom-modal-body">
          <p class="alert-modal-text">{{ alertModalText }}</p>
          <div class="alert-modal-buttons">
            <button
              class="btn primary-btn"
              title="Confirmar"
              (click)="confirmAction(); closeAlertModal()"
            >
              <i class="fas fa-check"></i> Confirmar
            </button>
            <button
            *ngIf="showCancelButton"
              class="btn primary-btn"
              title="Cancelar"
              (click)="closeAlertModal()"
            >
              <i class="fas fa-times"></i> Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
