<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Bookmarks Forums - Post</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/8f3c0a721b.js"
      crossorigin="anonymous"
    ></script>

    <!-- Chart.js script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- ----------------------------------------------------------------- -->
  </head>
  <body>
    <div class="main-body-container">
      <!-- Page hero ---------------------------------------------------- -->
      <header class="bg-branding-white py-1 page-hero">
        <div class="header-top-info">
          <div
            *ngIf="this.following || this.followed"
            class="card-community-name-container"
          >
            <p
              *ngIf="this.following && !this.followed"
              class="lead fw-normal text-white-50 mb-0"
            >
              Sigues a este usuario
              <br />
            </p>
            <p
              *ngIf="!this.following && this.followed"
              class="lead fw-normal text-white-50 mb-0"
            >
              Este usuario te sigue
              <br />
            </p>
            <p
              *ngIf="this.following && this.followed"
              class="lead fw-normal text-white-50 mb-0"
            >
              Os seguís mutuamente
              <br />
            </p>
          </div>
        </div>
        <div class="container px-4 px-lg-5 my-5">
          <div class="text-start text-dark">
            <div class="post-author-container">
              <div class="post-author-profile-picture">
                <img
                  class="profile-picture bm-rounded-circle"
                  [src]="profilePicture(profileUser?.username)"
                  alt="Foto de perfil del usuario"
                />
              </div>
              <div class="user-hero-username-alias">
                <!-- User username -->
                <h1
                  class="display-4 fw-bolder header-main-text landing-hero hero-username"
                >
                  <p
                    id="hero-username-text"
                    [ngClass]="{ 'red-text': this.isProfileOfAdmin }">
                    {{ profileUser?.username }}
                  </p>
                </h1>
                <!-- User alias -->
                <h1 class="display-4 fw-bolder landing-hero alias-text">
                  <p
                    id="alias-text"
                  >({{ profileUser?.alias }})</p>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- ----------------------------------------------------------------- -->

      <!-- Page content-->
      <div class="container">
        <div class="row justify-content-between">
          <!-- Posts Column -->
          <div class="col-lg-7">
            <!-- Post search bar and sorting -->
            <div class="card dark-card mb-4">
              <div class="post-container-card-top">
                <h5 class="card-title mb-0">Buscar y ordenar posts</h5>
              </div>
              <div class="card-body">
                <div class="post-search-container">
                  <div
                    class="search-bar-button-group wide-search-bar-button-group"
                  >
                    <input
                      type="text"
                      class="form-control search-input"
                      placeholder="Buscar posts..."
                      [(ngModel)]="searchTerm"
                      (keydown.enter)="searchPosts()"
                    />
                    <button
                      class="btn clear-search-btn"
                      (click)="clearSearch()"
                      title="Limpiar búsqueda"
                    >
                      <i class="fas fa-times"></i>
                    </button>
                    <button
                      title="Buscar comentarios"
                      class="btn search-btn"
                      (click)="searchPosts()"
                    >
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                  <div class="post-sort-container">
                    <div class="input-group-append">
                      <p class="card-content text-muted mb-0 me-2">Orden:</p>
                      <button
                        class="btn btn-secondary branding-dropdown-toggle fa-dropdown-toggle single-line"
                        type="button"
                        id="searchCriteriaDropdown"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        {{ sortCriteriaText }}
                      </button>
                      <ul
                        class="dropdown-menu dropdown-menu-dark branding-dropdown-menu"
                        aria-labelledby="searchCriteriaDropdown"
                      >
                        <li>
                          <a
                            class="dropdown-item"
                            (click)="setSortCriteria('default')"
                            >Más antiguos</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            (click)="setSortCriteria('creationDate')"
                            >Más recientes</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            (click)="setSortCriteria('lastModifiedDate')"
                            >Última modificación</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            (click)="setSortCriteria('likes')"
                            >Mejor votados</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            (click)="setSortCriteria('replies')"
                            >Más comentarios</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="post-container-divider" />
            <div class="mt-4">
              <div
                class="post-card card mb-4 featured-post"
                *ngFor="let post of posts"
              >
                <a
                  [routerLink]="['/post', post.identifier]"
                  class="card-link"
                  [ngClass]="{
                    'card-body-with-image': post.hasImage,
                    'card-body': !post.hasImage
                  }"
                  [ngStyle]="
                    post.hasImage
                      ? {
                          'background-image':
                            'url(' + postImageURL(post.identifier) + ')'
                        }
                      : {}
                  "
                >
                  <div
                    [ngClass]="post.hasImage ? 'card-body-image-adapted' : ''"
                  >
                    <div
                      class="card-top-info d-flex justify-content-between align-items-center"
                    >
                      <div class="d-flex align-items-center">
                        <img
                          [src]="profilePicture(post.author.username)"
                          alt="Profile"
                          class="card-profile-picture me-2"
                        />
                        <p
                          class="card-content card-text mb-0 card-user-username"
                        >
                          {{ post.author.username }}
                        </p>
                      </div>
                      <a
                        class="card-link"
                        [routerLink]="['/community', post.community.identifier]"
                      >
                        <div class="card-community-name-container">
                          <p
                            class="card-content card-text card-community-name-text mb-0"
                          >
                            {{ post.community.name }}
                          </p>
                        </div>
                      </a>
                    </div>

                    <div class="card-content small text-muted mb-1">
                      {{
                        post.fullCreationDate
                          | date : "dd-MM-yyyy 'a las' HH:mm"
                      }}
                    </div>
                    <h2 class="card-content card-title">{{ post.title }}</h2>
                    <div class="parent-container">
                      <p
                        class="card-content card-text single-line-card-text"
                        [innerHTML]="post.content"
                      ></p>
                    </div>
                    <div
                      class="card-bottom-action-bar d-flex justify-content-end"
                    >
                      <i class="fas fa-arrow-right"></i>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <!-- LOAD MORE BUTTON -->
            <nav aria-label="Pagination">
              <ul
                class="pagination justify-content-center my-4 load-more-container"
              >
                <button
                  class="btn btn-secondary load-more-btn"
                  id="load-more-btn"
                  (click)="loadMorePosts()"
                  *ngIf="!noMorePosts; else noMorePostsMessage"
                >
                  <label
                    for="load-more-btn"
                    id="load-more-label"
                    *ngIf="!loadingMorePosts; else loadingMorePostsSpinner"
                    >Cargar más</label
                  >

                  <ng-template #loadingMorePostsSpinner>
                    <output
                      id="load-more-spinner"
                      class="loader-in-btn"
                    ></output>
                  </ng-template>
                </button>
                <ng-template #noMorePostsMessage>
                  <p class="text-muted no-more-books-message">
                    No hay más posts para mostrar
                  </p>
                </ng-template>
              </ul>
            </nav>
          </div>

          <!-- Profile Info + Actions column -->
          <div class="col-lg-4">
            <!-- Follow / Unfollow widget -->
            <div
              *ngIf="loggedIn && loggedUsername !== profileUser?.username"
              class="card dark-card mb-4"
            >
              <div class="post-container-card-top">
                <h5 class="card-title mb-0">
                  Sigue a {{ profileUser?.username }}
                </h5>
              </div>
              <div class="card-body">
                <!-- Follow, unfollow -->
                <div
                  class="community-actions-container"
                  *ngIf="loggedIn; else loginToFollow"
                >
                  <ng-container
                    *ngIf="this.loggedUsername !== this.profileUser?.username"
                  >
                    <button
                      *ngIf="!following"
                      class="btn primary-btn"
                      (click)="followUser()"
                    >
                      <i class="fas fa-user-plus me-1"></i>
                      Seguir
                    </button>
                    <button
                      *ngIf="following"
                      class="btn negative-btn"
                      (click)="unfollowUser()"
                    >
                      <i class="fas fa-user-minus me-1"></i>
                      Dejar de seguir
                    </button>
                  </ng-container>
                </div>
                <!-- If the user is not logged in -->
                <ng-template #loginToFollow>
                  <div class="community-actions-container-text">
                    <p class="card-content card-text wrap-text center-text">
                      Inicia sesión para seguir a este usuario y más...
                    </p>
                    <!-- Login button -->
                    <div class="d-grid gap-2">
                      <a class="btn primary-btn" [routerLink]="['/login']">
                        <i class="fas fa-sign-in-alt me-1"></i>
                        Iniciar sesión</a
                      >
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
            <!-- User Info widget -->
            <div class="card dark-card mb-4">
              <div class="post-container-card-top">
                <h5 class="card-title mb-0">Información del usuario</h5>
              </div>
              <div class="card-body">
                <div class="community-info-container">
                  <a
                    class="community-info-item clickable"
                    (click)="openUsersModal(1)"
                  >
                    <div class="community-info-icon-title">
                      <i class="fas fa-user"></i>
                      <p class="community-info-text">Seguidores:</p>
                    </div>
                    <div class="community-info-text-container">
                      <p class="community-info-text-counter">
                        {{ profileUser?.followers }}
                      </p>
                    </div>
                  </a>
                  <a
                    class="community-info-item clickable"
                    (click)="openUsersModal(2)"
                  >
                    <div class="community-info-icon-title">
                      <i class="fas fa-user"></i>
                      <p class="community-info-text">Siguiendo:</p>
                    </div>
                    <div class="community-info-text-container">
                      <p class="community-info-text-counter">
                        {{ profileUser?.following }}
                      </p>
                    </div>
                  </a>
                  <div class="community-info-item">
                    <div class="community-info-icon-title">
                      <i class="fas fa-file"></i>
                      <p class="community-info-text">Posts:</p>
                    </div>
                    <div class="community-info-text-container">
                      <p class="community-info-text-counter">
                        {{ this.postCount }}
                      </p>
                    </div>
                  </div>
                  <div class="community-info-item">
                    <div class="community-info-icon-title">
                      <i class="fas fa-calendar"></i>
                      <p class="community-info-text">Se unió:</p>
                    </div>
                    <div class="community-info-text-container">
                      <p class="community-info-text-counter">
                        {{
                          this.profileUser?.fullCreationDate
                            | date : "dd-MM-yyyy"
                        }}
                      </p>
                    </div>
                  </div>
                  <hr class="post-container-divider" />
                  <div class="community-info-item-buttons-container">
                    <button
                      class="btn primary-dimmed-btn"
                      (click)="openCommunitiesModal(false)"
                    >
                      <i class="fas fa-users me-1"></i>
                      Comunidades
                    </button>
                    <button
                      class="btn primary-dimmed-btn"
                      (click)="openCommunitiesModal(true)"
                    >
                      <i class="fas fa-crown me-1"></i>
                      Comunidades administradas
                    </button>
                  </div>
                  <ng-container
                    *ngIf="
                      (loggedIn && loggedUsername === profileUser?.username) ||
                      isAdmin
                    "
                  >
                    <hr class="post-container-divider" />
                    <div class="community-info-item-buttons-container">
                      <ng-container
                        *ngIf="
                          (loggedIn &&
                            loggedUsername === profileUser?.username) ||
                          isAdmin
                        "
                      >
                        <a
                          id="edit-profile-btn"
                          class="btn primary-dimmed-btn"
                          [routerLink]="['edit']"
                        >
                          <i class="fas fa-edit me-1"></i>
                          Editar perfil
                        </a>
                      </ng-container>
                      <ng-container
                        *ngIf="
                          isAdmin || loggedUsername === profileUser?.username
                        "
                      >
                        <button
                          class="btn red-btn"
                          id="delete-account-btn"
                          (click)="deleteUser()"
                          title="Eliminar usuario"
                        >
                          <i class="fas fa-trash me-1"></i>
                          Eliminar cuenta
                        </button>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
            <!-- Community Actions widget -->
            <div
              *ngIf="
                (loggedIn && loggedUsername === profileUser?.username) ||
                isAdmin
              "
              class="card dark-card mb-4"
            >
              <div class="post-container-card-top">
                <h5 class="card-title mb-0">Descripción del usario</h5>
              </div>
              <div class="card-body">
                <!-- Description -->
                <div class="user-description-container">
                  <p
                    class="card-content card-text wrap-text"
                    id="description-text"
                    [innerHTML]="profileUser?.description"
                  ></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Alert modal with confirmation and cancel buttons -->
    <div
      id="alertModal"
      class="custom-modal"
      [ngClass]="{ show: showAlertModal }"
      style="z-index: 1060"
    >
      <div class="custom-modal-content no-scroll">
        <div class="custom-modal-header">
          <span
            class="action-btn close"
            (click)="closeAlertModal()"
            (keypress)="closeAlertModal()"
          >
            <i class="fas fa-times"></i>
          </span>
        </div>
        <div class="custom-modal-body">
          <p class="alert-modal-text">{{ alertModalText }}</p>
          <div class="alert-modal-buttons">
            <button
              class="btn primary-btn"
              title="Confirmar"
              (click)="confirmAction(); closeAlertModal()"
            >
              <i class="fas fa-check"></i> Confirmar
            </button>
            <button
              class="btn primary-btn"
              title="Cancelar"
              (click)="closeAlertModal()"
              *ngIf="showCancelButton"
            >
              <i class="fas fa-times"></i> Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Alert modal with a list of users and an OK button -->
    <div
      id="usersModal"
      class="custom-modal"
      [ngClass]="{ show: showUsersModal }"
    >
      <div class="custom-modal-content no-scroll">
        <div class="custom-modal-header with-title">
          <h5 class="modal-title">{{ this.usersModalTitle }}</h5>
          <span
            class="action-btn close"
            (click)="closeUsersModal()"
            (keypress)="closeUsersModal()"
          >
            <i class="fas fa-times"></i>
          </span>
        </div>
        <div class="custom-modal-body">
          <div class="card dark-card banned-users-list">
            <a
              class="banned-member-card card-hyperlink"
              *ngFor="let user of usersModalList"
              [routerLink]="['/profile', user.username]"
            >
              <div class="ban-info-container">
                <div class="banned-user-info">
                  <div class="community-ban-info">
                    <img
                      [src]="profilePicture(user.username)"
                      alt="Profile"
                      class="community-member-profile-picture"
                    />
                    <p class="community-member-username">
                      {{ user.username }}
                    </p>
                  </div>
                </div>
              </div>
            </a>
            <!-- Load more users button -->
            <div class="load-more-replies-container">
              <button
                class="btn primary-btn"
                (click)="loadMoreUsers()"
                *ngIf="!usersModalListNoMore; else noMoreUsersText"
              >
                Cargar más
              </button>
              <ng-template #noMoreUsersText>
                <p
                  class="card-content card-text wrap-text center-text text-muted"
                >
                  No hay más usuarios para mostrar
                </p>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Alert modal with a list of communities and an OK button -->
    <div
      id="communitiesModal"
      class="custom-modal"
      [ngClass]="{ show: showCommunitiesModal }"
    >
      <div class="custom-modal-content no-scroll">
        <div class="custom-modal-header with-title">
          <div class="modal-title-container">
            <h5 class="modal-title">{{ this.communitiesModalTitle }}</h5>
            <h5 class="modal-title dimmed-text">{{ this.communityCount }}</h5>
          </div>

          <span
            class="action-btn close"
            (click)="closeCommunitiesModal()"
            (keypress)="closeCommunitiesModal()"
          >
            <i class="fas fa-times"></i>
          </span>
        </div>
        <div class="custom-modal-body">
          <div class="card dark-card banned-users-list">
            <div
              class="community-card-frame card mb-1 featured-post"
              *ngFor="let community of communities"
            >
              <a
                [routerLink]="['/community', community.identifier]"
                class="card-link community-card"
                [ngClass]="{
                  'card-body-with-image': community.hasBanner,
                  'card-body': !community.hasBanner
                }"
                [ngStyle]="
                  community.hasBanner
                    ? {
                        'background-image':
                          'url(' +
                          communityBannerURL(community.identifier) +
                          ')'
                      }
                    : {}
                "
              >
                <div
                  class="community-card-body"
                  [ngClass]="
                    community.hasBanner ? 'card-body-image-adapted' : ''
                  "
                >
                  <div class="card-big-community-name-container">
                    <p
                      class="card-content card-text single-line-card-text card-big-community-name"
                    >
                      {{ community.name }}
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <!-- Load more communities button -->
            <div class="load-more-replies-container">
              <button
                class="btn primary-btn"
                (click)="loadMoreCommunities()"
                *ngIf="!communitiesModalListNoMore; else noMoreCommunitiesText"
              >
                Cargar más
              </button>
              <ng-template #noMoreCommunitiesText>
                <p
                  class="card-content card-text wrap-text center-text text-muted"
                >
                  No hay más comunidades para mostrar
                </p>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
