<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Bookmarks Forums - Post</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/8f3c0a721b.js"
      crossorigin="anonymous"
    ></script>

    <!-- Chart.js script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- ----------------------------------------------------------------- -->
  </head>
  <body>
    <div class="main-body-container">
      <!-- Page hero ---------------------------------------------------- -->
      <header
        class="bg-branding-white py-1 page-hero"
        [ngClass]="{
          'header-image-adapted': hasBanner(community?.identifier),
          'page-hero-expanded': showDescription,
        }"
        [ngStyle]="{
          'background-image':
            'url(' + communityBannerURL(community?.identifier) + ')'
        }"
      >
        <div class="header-top-info" *ngIf="this.isUserBanned">
          <a class="card-link" (click)="showBanInfoModal()">
            <div
              class="card-community-name-container branding-hyperlink-container banned-user-info-container"
            >
              <p class="lead fw-normal mb-0 banned-user-info-text">
                Estás baneado<br />
              </p>
            </div>
          </a>
        </div>
        <div class="container px-4 px-lg-5 my-5">
          <div class="text-start text-dark">
            <div class="community-name-container">
              <h1
                class="display-4 fw-bolder header-main-text landing-hero hero-community-name"
              >
                <p>
                  {{ community?.name }}
                </p>
              </h1>
            </div>
          </div>
          <!-- Community description toggle -->
          <div id="community-description-block" *ngIf="community?.description">
            <div class="community-description-toggle-container">
              <button
                title="Mostrar descripción de la comunidad"
                class="btn hyperlink-btn hyperlink-btn-in-header"
                (click)="toggleCommunityDescription()"
              >
                <p *ngIf="showDescription">
                  Ocultar Descripción
                  <i
                    class="fas"
                    [ngClass]="{
                      'fa-chevron-down': !showDescription,
                      'fa-chevron-up': showDescription
                    }"
                  ></i>
                </p>
                <p *ngIf="!showDescription">
                  Mostrar Descripción
                  <i
                    class="fas"
                    [ngClass]="{
                      'fa-chevron-down': !showDescription,
                      'fa-chevron-up': showDescription
                    }"
                  ></i>
                </p>
              </button>
              <hr
                class="post-container-divider divider-in-header"
                *ngIf="showDescription"
              />
            </div>
            <!-- Community description -->
            <div *ngIf="showDescription" class="community-description">
              <p>{{ community?.description }}</p>
            </div>
          </div>
        </div>
      </header>
      <!-- ----------------------------------------------------------------- -->

      <!-- Page content-->
      <div class="container">
        <div class="row justify-content-between">
          <!-- Posts Column -->
          <div class="col-lg-7">
            <!-- Post search bar and sorting -->
            <div class="card dark-card mb-4">
              <div class="post-container-card-top">
                <h5 class="card-title mb-0">Buscar y ordenar posts</h5>
              </div>
              <div class="card-body">
                <div class="post-search-container">
                  <div
                    class="search-bar-button-group wide-search-bar-button-group"
                  >
                    <input
                      type="text"
                      class="form-control search-input"
                      placeholder="Buscar posts..."
                      [(ngModel)]="searchTerm"
                      (keydown.enter)="searchPosts()"
                    />
                    <button
                      class="btn clear-search-btn"
                      (click)="clearSearch()"
                      title="Limpiar búsqueda"
                    >
                      <i class="fas fa-times"></i>
                    </button>
                    <button
                      title="Buscar comentarios"
                      class="btn search-btn"
                      (click)="searchPosts()"
                    >
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                  <div class="post-sort-container">
                    <div class="input-group-append">
                      <p class="card-content text-muted mb-0 me-2">Orden:</p>
                      <button
                        class="btn btn-secondary branding-dropdown-toggle fa-dropdown-toggle single-line"
                        type="button"
                        id="searchCriteriaDropdown"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        {{ sortCriteriaText }}
                      </button>
                      <ul
                        class="dropdown-menu dropdown-menu-dark branding-dropdown-menu"
                        aria-labelledby="searchCriteriaDropdown"
                      >
                        <li>
                          <a
                            class="dropdown-item"
                            (click)="setSortCriteria('default')"
                            >Más antiguos</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            (click)="setSortCriteria('creationDate')"
                            >Más recientes</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            (click)="setSortCriteria('lastModifiedDate')"
                            >Última modificación</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            (click)="setSortCriteria('likes')"
                            >Mejor votados</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            (click)="setSortCriteria('replies')"
                            >Más comentarios</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="post-container-divider" />
            <div class="mt-4">
              <div
                class="post-card card mb-4 featured-post"
                *ngFor="let post of posts"
              >
                <a
                  [routerLink]="['/post', post.identifier]"
                  class="card-link"
                  [ngClass]="{
                    'card-body-with-image': post.hasImage,
                    'card-body': !post.hasImage
                  }"
                  [ngStyle]="
                    post.hasImage
                      ? {
                          'background-image':
                            'url(' + postImageURL(post.identifier) + ')'
                        }
                      : {}
                  "
                >
                  <div
                    [ngClass]="post.hasImage ? 'card-body-image-adapted' : ''"
                  >
                    <div
                      class="card-top-info d-flex justify-content-between align-items-center"
                    >
                      <a
                        [routerLink]="['/profile', post.author.username]"
                        class="card-link"
                      >
                        <div class="d-flex align-items-center card-user-info">
                          <img
                            [src]="profilePicture(post.author.username)"
                            alt="Profile"
                            class="card-profile-picture me-2"
                          />
                          <p
                            class="card-content card-text mb-0 card-user-username"
                          >
                            {{ post.author.username }}
                          </p>
                        </div>
                      </a>
                    </div>

                    <div class="card-content small text-muted mb-1">
                      {{
                        post.fullCreationDate
                          | date : "dd-MM-yyyy 'a las' HH:mm"
                      }}
                    </div>
                    <h2 class="card-content card-title">{{ post.title }}</h2>
                    <div class="parent-container">
                      <p
                        class="card-content card-text single-line-card-text"
                        [innerHTML]="post.content"
                      ></p>
                    </div>
                    <div
                      class="card-bottom-action-bar d-flex justify-content-end"
                    >
                      <i class="fas fa-arrow-right"></i>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <!-- LOAD MORE BUTTON -->
            <nav aria-label="Pagination">
              <ul
                class="pagination justify-content-center my-4 load-more-container"
              >
                <button
                  class="btn btn-secondary load-more-btn"
                  id="load-more-btn"
                  (click)="loadMorePosts()"
                  *ngIf="!noMorePosts; else noMorePostsMessage"
                >
                  <label
                    for="load-more-btn"
                    id="load-more-label"
                    *ngIf="!loadingMorePosts; else loadingMorePostsSpinner"
                    >Cargar más</label
                  >

                  <ng-template #loadingMorePostsSpinner>
                    <output
                      id="load-more-spinner"
                      class="loader-in-btn"
                    ></output>
                  </ng-template>
                </button>
                <ng-template #noMorePostsMessage>
                  <p class="text-muted no-more-books-message">
                    No hay más posts para mostrar
                  </p>
                </ng-template>
              </ul>
            </nav>
          </div>

          <!-- Community Info + Actions column -->
          <div class="col-lg-4">
            <!-- Community Info widget -->
            <div class="card dark-card mb-4">
              <div class="post-container-card-top">
                <h5 class="card-title mb-0">Información de la comunidad</h5>
              </div>
              <div class="card-body">
                <div class="community-info-container">
                  <div class="community-info-item">
                    <div class="community-info-icon-title">
                      <i class="fas fa-user"></i>
                      <p class="community-info-text">Miembros:</p>
                    </div>
                    <div class="community-info-text-container">
                      <p class="community-info-text-counter">
                        {{ this.communityMembersCount }}
                      </p>
                    </div>
                  </div>
                  <div class="community-info-item">
                    <div class="community-info-icon-title">
                      <i class="fas fa-file"></i>
                      <p class="community-info-text">Posts:</p>
                    </div>
                    <div class="community-info-text-container">
                      <p class="community-info-text-counter">
                        {{ this.communityPostsCount }}
                      </p>
                    </div>
                  </div>
                  <div class="community-info-item">
                    <div class="community-info-icon-title">
                      <i class="fas fa-calendar-alt"></i>
                      <p class="community-info-text">Fecha de creación:</p>
                    </div>
                    <div class="community-info-text-container">
                      <p class="community-info-text-counter">
                        {{ community?.fullCreationDate | date : "dd-MM-yyyy" }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Community Actions widget -->
            <div class="card dark-card mb-4">
              <div class="post-container-card-top">
                <h5 class="card-title mb-0">Acciones de la comunidad</h5>
              </div>
              <div class="card-body">
                <ng-container *ngIf="!this.isUserBanned; else userBanned">
                  <!-- Join or leave community -->
                  <div
                    class="community-actions-container"
                    *ngIf="loggedIn; else loginToJoin"
                  >
                    <!-- If the user is logged in and is a member of the community-->
                    <ng-container *ngIf="isMember || this.isAdmin">
                      <a
                        class="btn primary-btn"
                        [routerLink]="[
                          '/community',
                          community?.identifier,
                          'new',
                          'post'
                        ]"
                      >
                        <i class="fas fa-plus me-1"></i>
                        Nuevo Post
                      </a>
                      <button
                        *ngIf="isMember"
                        class="btn negative-btn"
                        (click)="joinOrLeaveCommunity()"
                      >
                        <i class="fas fa-sign-out-alt me-1"></i>
                        Salir
                      </button>
                      <!-- If the user is an admin of the community -->
                      <ng-container *ngIf="isCommunityAdmin || this.isAdmin">
                        <a
                          class="btn primary-dimmed-btn"
                          [routerLink]="[
                            '/community',
                            community?.identifier,
                            'edit'
                          ]"
                        >
                          <i class="fas fa-edit me-1"></i>
                          Editar comunidad
                        </a>
                        <button
                          class="btn negative-btn"
                          (click)="deleteCommunity()"
                        >
                          <i class="fas fa-trash me-1"></i>
                          Eliminar comunidad
                        </button>
                      </ng-container>
                    </ng-container>
                    <!-- If the user is logged in and is not a member of the community-->
                    <ng-container *ngIf="this.community && !isMember">
                      <div class="community-actions-container-text">
                        <p
                          *ngIf="!isAdmin"
                          class="card-content card-text wrap-text center-text"
                        >
                          Únete a la comunidad para crear posts, comentar, y
                          más...
                        </p>
                        <button
                          class="btn primary-btn"
                          (click)="joinOrLeaveCommunity()"
                          *ngIf="!isMember"
                        >
                          <i class="fas fa-sign-in-alt me-1"></i>
                          Unirse
                        </button>
                      </div>
                    </ng-container>
                  </div>
                  <!-- If the user is not logged in -->
                  <ng-template #loginToJoin>
                    <div class="community-actions-container-text">
                      <p class="card-content card-text wrap-text center-text">
                        Inicia sesión para unirte a la comunidad, crear posts, y
                        más...
                      </p>
                      <!-- Login button -->
                      <div class="d-grid gap-2">
                        <a class="btn primary-btn" [routerLink]="['/login']">
                          <i class="fas fa-sign-in-alt me-1"></i>
                          Iniciar sesión</a
                        >
                      </div>
                    </div>
                  </ng-template>
                </ng-container>
                <ng-template #userBanned>
                  <div class="community-actions-container-text">
                    <p
                      class="card-content card-text wrap-text center-text red-text"
                    >
                      Has sido baneado de esta comunidad
                    </p>
                  </div>
                </ng-template>
              </div>
            </div>

            <!-- Community Members widget -->
            <div class="card dark-card mb-4">
              <div class="post-container-card-top">
                <h5 class="card-title mb-0">El staff de la comunidad</h5>
              </div>
              <div class="card-body">
                <!-- Admin -->
                <div class="community-members-container">
                  <h6 class="card-title mb-0">Administrador:</h6>
                  <div class="community-member-card">
                    <a
                      [routerLink]="['/profile', admin?.username]"
                      class="card-link"
                    >
                      <div class="community-member-info">
                        <img
                          [src]="profilePicture(admin?.username)"
                          alt="Profile"
                          class="community-member-profile-picture"
                        />
                        <p class="community-member-username">
                          {{ admin?.username }}
                        </p>
                      </div>
                    </a>
                  </div>
                </div>
                <hr class="post-container-divider" *ngIf="hasModerators" />
                <!-- Moderators -->
                <div class="community-members-container" *ngIf="hasModerators">
                  <h6 class="card-title mb-0">Moderadores:</h6>
                  <div
                    class="community-member-card"
                    *ngFor="let moderator of moderators"
                  >
                    <a
                      [routerLink]="['/profile', moderator.username]"
                      class="card-link"
                    >
                      <div class="community-member-info">
                        <img
                          [src]="profilePicture(moderator.username)"
                          alt="Profile"
                          class="community-member-profile-picture"
                        />
                        <p class="community-member-username">
                          {{ moderator.username }}
                        </p>
                      </div>
                    </a>
                    <!-- 3 dot button for actions (dropdown) -->
                    <div
                      class="member-more-actions-container"
                      *ngIf="
                        showDropdown(moderator.username) === true &&
                        !this.isModerator
                      "
                    >
                      <button
                        title="Más acciones"
                        class="btn btn-secondary branding-dropdown-toggle more-actions-toggle"
                        type="button"
                        id="memberActionsDropdown"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="fas fa-ellipsis-v"></i>
                      </button>
                      <ul
                        class="dropdown-menu dropdown-menu-dark branding-dropdown-menu"
                        aria-labelledby="memberActionsDropdown"
                      >
                        <li>
                          <a
                            *ngIf="canRemoveMember(moderator.username)"
                            class="dropdown-item"
                            (click)="removeMember(moderator.username)"
                          >
                            <i class="fas fa-user-times me-1"></i>
                            Expulsar de la comunidad
                          </a>
                        </li>
                        <li>
                          <a
                            *ngIf="canBanMember(moderator.username)"
                            class="dropdown-item"
                            (click)="banMember(moderator.username)"
                          >
                            <i class="fas fa-ban me-1"></i>
                            Banear de la comunidad
                          </a>
                        </li>
                        <li>
                          <a
                            *ngIf="canMakeAdmin(moderator.username)"
                            class="dropdown-item"
                            (click)="makeAdmin(moderator.username)"
                          >
                            <i class="fas fa-crown me-1"></i>
                            Convertir en Administrador</a
                          >
                        </li>
                        <li>
                          <a
                            *ngIf="canRemoveModerator(moderator.username)"
                            class="dropdown-item"
                            (click)="removeModerator(moderator.username)"
                          >
                            <i class="fas fa-user-slash me-1"></i>
                            Eliminar Moderador</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- Load more moderators button -->
                  <div class="load-more-replies-container">
                    <button
                      class="btn primary-btn"
                      (click)="loadMoreModerators()"
                      *ngIf="!noMoreModerators; else noMoreModeratorsText"
                    >
                      Cargar más
                    </button>
                    <ng-template #noMoreModeratorsText>
                      <p
                        class="card-content card-text wrap-text center-text text-muted"
                      >
                        No hay más moderadores
                      </p>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
            <div class="card dark-card mb-4">
              <div class="post-container-card-top">
                <h5 class="card-title mb-0">Miembros de la comunidad</h5>
                <!-- Search bar and search criteria dropdown -->

                <div class="card-header-actions-container pb-0">
                  <div class="input-group">
                    <div
                      class="search-bar-button-group wide-search-bar-button-group"
                    >
                      <input
                        type="text"
                        class="form-control search-input"
                        placeholder="Buscar miembros"
                        [(ngModel)]="membersSearchTerm"
                        (keydown.enter)="searchMembers()"
                      />
                      <button
                        class="btn clear-search-btn"
                        (click)="clearMembersSearch()"
                        title="Limpiar búsqueda"
                      >
                        <i class="fas fa-times"></i>
                      </button>
                      <button
                        title="Buscar miembros"
                        class="btn search-btn"
                        (click)="searchMembers()"
                      >
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- Button to open the ban manager modal -->
                <div
                  class="card-header-actions-container"
                  *ngIf="isCommunityAdmin"
                >
                  <button
                    class="btn negative-btn"
                    (click)="openBanManagerModal()"
                    *ngIf="isCommunityAdmin"
                  >
                    <i class="fas fa-ban me-1"></i>
                    Gestor de baneos
                  </button>
                </div>
              </div>
              <div class="card-body">
                <!-- Members -->
                <div class="community-members-container">
                  <div
                    class="community-member-card"
                    *ngFor="let member of communityMembers"
                  >
                    <a
                      [routerLink]="['/profile', member.username]"
                      class="card-link"
                    >
                      <div class="community-member-info">
                        <img
                          [src]="profilePicture(member.username)"
                          alt="Profile"
                          class="community-member-profile-picture"
                        />
                        <p class="community-member-username">
                          {{ member.username }}
                        </p>
                      </div>
                    </a>
                    <!-- 3 dot button for actions (dropdown) -->
                    <div
                      class="member-more-actions-container"
                      *ngIf="showDropdown(member.username) === true"
                    >
                      <button
                        title="Más acciones"
                        class="btn btn-secondary branding-dropdown-toggle more-actions-toggle"
                        type="button"
                        id="memberActionsDropdown"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="fas fa-ellipsis-v"></i>
                      </button>
                      <ul
                        class="dropdown-menu dropdown-menu-dark branding-dropdown-menu"
                        aria-labelledby="memberActionsDropdown"
                      >
                        <li>
                          <a
                            *ngIf="canRemoveMember(member.username)"
                            class="dropdown-item"
                            (click)="removeMember(member.username)"
                          >
                            <i class="fas fa-user-times me-1"></i>
                            Expulsar de la comunidad
                          </a>
                        </li>
                        <li>
                          <a
                            *ngIf="canBanMember(member.username)"
                            class="dropdown-item"
                            (click)="banMember(member.username)"
                          >
                            <i class="fas fa-ban me-1"></i>
                            Banear de la comunidad
                          </a>
                        </li>
                        <li>
                          <a
                            *ngIf="canMakeAdmin(member.username)"
                            class="dropdown-item"
                            (click)="makeAdmin(member.username)"
                          >
                            <i class="fas fa-crown me-1"></i>
                            Convertir en Administrador</a
                          >
                        </li>
                        <li>
                          <a
                            *ngIf="canAddModerator(member.username)"
                            class="dropdown-item"
                            (click)="addModerator(member.username)"
                          >
                            <i class="fas fa-user-shield me-1"></i>
                            Convertir en Moderador</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- Load more members button -->
                  <div class="load-more-replies-container">
                    <button
                      class="btn primary-btn"
                      (click)="loadMoreMembers()"
                      *ngIf="!noMoreMembers; else noMoreMembersText"
                    >
                      Cargar más
                    </button>
                    <ng-template #noMoreMembersText>
                      <p
                        class="card-content card-text wrap-text center-text text-muted"
                      >
                        No hay más miembros
                      </p>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Alert modal with confirmation and cancel buttons -->
    <div
      id="alertModal"
      class="custom-modal"
      [ngClass]="{ show: showAlertModal }"
      style="z-index: 1060"
    >
      <div class="custom-modal-content no-scroll">
        <div class="custom-modal-header">
          <span
            class="action-btn close"
            (click)="closeAlertModal()"
            (keypress)="closeAlertModal()"
          >
            <i class="fas fa-times"></i>
          </span>
        </div>
        <div class="custom-modal-body">
          <p class="alert-modal-text">{{ alertModalText }}</p>
          <div class="alert-modal-buttons">
            <button
              class="btn primary-btn"
              title="Confirmar"
              (click)="confirmAction(); closeAlertModal()"
            >
              <i class="fas fa-check"></i> Confirmar
            </button>
            <button
              class="btn primary-btn"
              title="Cancelar"
              (click)="closeAlertModal()"
              *ngIf="showCancelButton"
            >
              <i class="fas fa-times"></i> Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Ban info modal -->
    <div
      id="banInfoModal"
      class="custom-modal"
      [ngClass]="{ show: showUserBanInfo }"
    >
      <div class="custom-modal-content no-scroll">
        <div class="custom-modal-header">
          <span
            class="action-btn close"
            (click)="closeBanInfoModal()"
            (keypress)="closeBanInfoModal()"
          >
            <i class="fas fa-times"></i>
          </span>
        </div>
        <div class="custom-modal-body">
          <p class="alert-modal-text">Razón: {{ this.userBan?.banReason }}</p>
          <p class="alert-modal-text">
            Hasta: {{ this.userBan?.banUntil | date : "dd-MM-yyyy" }}
          </p>
        </div>
      </div>
    </div>

    <!-- Alert modal with a text field, dropdown, confirm and cancel buttons-->
    <div
      id="alertModalWithInput"
      class="custom-modal"
      [ngClass]="{ show: showBanModal }"
    >
      <div class="custom-modal-content no-scroll">
        <div class="custom-modal-header">
          <span
            class="action-btn close"
            (click)="closeBanModal()"
            (keypress)="closeBanModal()"
          >
            <i class="fas fa-times"></i>
          </span>
        </div>
        <div class="custom-modal-body">
          <!-- Ban reason field -->
          <div class="alert-modal-container">
            <p class="alert-modal-text-left">Razón del ban:</p>
            <div class="alert-modal-input">
              <input
                type="text"
                class="form-control"
                maxlength="255"
                placeholder="Explica la razón del ban"
                [(ngModel)]="banReasonValue"
              />
            </div>
          </div>
          <!-- Ban duration dropdown -->
          <div class="alert-modal-container">
            <p class="alert-modal-text-left">Duración del ban:</p>
            <div class="input-group-append above">
              <button
                class="btn btn-secondary branding-dropdown-toggle fa-dropdown-toggle"
                type="button"
                id="searchCriteriaDropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ banDurationTextTranslated | titlecase }}
              </button>
              <ul
                class="dropdown-menu dropdown-menu-dark branding-dropdown-menu above"
                aria-labelledby="searchCriteriaDropdown"
              >
                <li>
                  <a class="dropdown-item" (click)="setBanDuration('day')"
                    >1 Día</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="setBanDuration('week')"
                    >1 Semana</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="setBanDuration('2weeks')"
                    >2 Semanas</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="setBanDuration('month')"
                    >1 Mes</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="setBanDuration('6months')"
                    >6 Meses</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)="setBanDuration('forever')"
                    >Permanente</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="alert-modal-buttons">
            <button
              class="btn primary-btn"
              title="Confirmar"
              (click)="confirmBanModal(); closeBanModal()"
            >
              <i class="fas fa-check"></i> Confirmar
            </button>
            <button
              class="btn primary-btn"
              title="Cancelar"
              (click)="closeBanModal()"
              *ngIf="showCancelButton"
            >
              <i class="fas fa-times"></i> Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Ban manager modal -->
    <div
      id="banManagerModal"
      class="custom-modal"
      [ngClass]="{ show: showBanManagerModal }"
    >
      <div class="custom-modal-content no-scroll">
        <div class="custom-modal-header with-title">
          <h5 class="modal-title">Usuarios baneados</h5>
          <span
            class="action-btn close"
            (click)="closeBanManagerModal()"
            (keypress)="closeBanManagerModal()"
          >
            <i class="fas fa-times"></i>
          </span>
        </div>
        <div class="custom-modal-body">
          <div class="card dark-card banned-users-list">
            <div class="banned-member-card" *ngFor="let ban of bannedUsers">
              <div class="ban-info-container">
                <div class="banned-user-info">
                  <div class="community-ban-info">
                    <p class="ban-info-text">Usuario:</p>
                    <img
                      [src]="profilePicture(ban.user.username)"
                      alt="Profile"
                      class="community-member-profile-picture"
                    />
                    <p class="community-member-username">
                      {{ ban.user.username }}
                    </p>
                  </div>
                  <div class="community-ban-info">
                    <p class="ban-info-text">Razón:</p>
                    <p class="ban-info-data">{{ ban.banReason }}</p>
                  </div>
                  <div class="community-ban-info">
                    <p class="ban-info-text">Hasta:</p>
                    <p class="ban-info-data">
                      Hasta: {{ ban.banUntil | date : "dd-MM-yyyy" }}
                    </p>
                  </div>
                </div>
              </div>
              <button
                class="btn primary-dimmed-btn"
                (click)="openUnbanConfirmationModal(ban)"
              >
                <i class="fas fa-ban me-1"></i>
                Desbanear
              </button>
            </div>
            <!-- Load more banned users button -->
            <div class="load-more-replies-container">
              <button
                class="btn primary-btn"
                (click)="loadMoreBannedUsers()"
                *ngIf="!noMoreBannedUsers; else noMoreBannedUsersText"
              >
                Cargar más
              </button>
              <ng-template #noMoreBannedUsersText>
                <p
                  class="card-content card-text wrap-text center-text text-muted"
                >
                  No hay más usuarios baneados
                </p>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
