.disable-duration-slider-container {
  width: 100%;
  padding: 20px 10px;
  position: relative;
}

.disable-duration-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.disable-duration-label {
  font-size: 0.8rem;
  transform: rotate(-45deg);
  transform-origin: top left;
  white-space: nowrap;
}

/* Estilos personalizados para el deslizador */
.form-range::-webkit-slider-thumb {
  background-color: var(--primary-color);
  width: 20px;
  height: 20px;
  border: 2px solid var(--background-color);
  cursor: pointer;
}

.form-range::-moz-range-thumb {
  background-color: var(--primary-color);
  width: 20px;
  height: 20px;
  border: 2px solid var(--background-color);
  cursor: pointer;
}

.form-range::-webkit-slider-runnable-track {
  background-color: var(--primary-dimmed-color);
  height: 8px;
  border-radius: 4px;
}

.form-range::-moz-range-track {
  background-color: var(--primary-dimmed-color);
  height: 8px;
  border-radius: 4px;
}

/* Estilos para el estado activo */
.form-range::-webkit-slider-thumb:active {
  background-color: var(--primary-hover-color);
}

.form-range::-moz-range-thumb:active {
  background-color: var(--primary-hover-color);
}

/* Estilos para el foco */
.form-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px var(--primary-dimmed-color);
}

.form-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 3px var(--primary-dimmed-color);
} 